name: Process lotto analysis

on:
  workflow_dispatch:
  schedule:
    - cron: "0 12 * * *"

jobs:
  scheduled:
    runs-on: ubuntu-24.04
    steps:
      - name: Check out this repo
        uses: actions/checkout@v6
      - name: Check out data repo
        uses: actions/checkout@v6
        with:
          repository: fasmat/lotto-data
          path: "data"
          token: ${{ secrets.DATA_TOKEN }}
      - name: Strip git metadata from submodule
        id: metadata
        run: |
          rm -rf data/.git
          echo "timestamp=$(date -u)" >> $GITHUB_OUTPUT
      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.5.1"
      - name: Install packages
        shell: Rscript {0}
        run: |
          install.packages("minpack.lm")
          install.packages("lattice")
        
      - name: Run analysis
        shell: Rscript {0}
        run: |
          source("analysis/helpers.r")
          # only analyze last three years
          data <- read.data("data/data/numbers.csv", "data/data/winnings.csv")
          data <- data[as.POSIXct(data$Date) > as.POSIXct(Sys.Date() - 3 * 365), ]

          outdir <- "plots"

          source("analysis/analysis-special.r")
          source("analysis/analysis-general.r")

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.PAT }}
          commit-message: "Auto-update data: ${{ steps.metadata.outputs.timestamp }}"
          title: "Update Analysis Plots"
          branch: update-analysis
          body: |
            Automated update of plots from new data.

      - name: Enable auto-merge
        if: steps.cpr.outputs.pull-request-operation == 'created' || steps.cpr.outputs.pull-request-operation == 'updated'
        env:
          GH_TOKEN: ${{ secrets.PAT }}
        run: gh pr merge ${{ steps.cpr.outputs.pull-request-number }} --auto --squash
